<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="static/index.css">
        <title>UFGNews</title>
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <a class="navbar-brand" href="#">UFGNews</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Notícias</a>
                <a class="nav-item nav-link" data-toggle="modal" data-target="#modalLogin" href="#">Login</a>
                <a class="nav-item nav-link" href="logout">Logout</a>
                <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalLogin">
  Launch demo modal
</button>
            </div>
        </div>
    </nav>
        <div class="container">
            {% if username %}
            <div class="row">
                <div class="col">
                    <h1>Bem-vindo usuário {{username}}</h1>
                </div>
            </div>
            {% endif %}
            {% for i in range(1, 20) %}
            <div class="row">
                <div class="col">
                    <div class="card border-info mb-2">
                        <div class="card-body">
                            <h5 class="card-title">Confira como será o expediente da UFG nos dias de jogos da seleção brasileira</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Em 20/06/2018 às 10:49</h6>
                            Nesta sexta-feira, 22/06, o expediente começará às 14h com funcionamento normal nos turnos vespertino e noturno
                        </div>
                        <div class="card-footer">
                            <span class="badge badge-pill badge-info">Primary</span>
                        </div>
                        {% if username %}
                        <div class="card-footer">

                                <button class="btn btn-primary btn-sm">Editar</button>
                                <button class="btn btn-danger btn-sm">Remover</button>

                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog">
<!-- Carregado dinamicamente de login.html -->
</div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
        <script src="static/js/login.js"></script>
    </body>
</html>