<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="static/index.css">
</head>

<body>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLoginTitle">Login</h5>
        <button type="button" class="close" data-dismiss="modal">
        </button>
      </div>
      <div class="modal-body" id="modal_login_body">
        {% for error in errors %}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
        {% endfor %}
        <form action="/login" method="post" id="login_form">
          <div class="form-group">
            <label for="inputUsuario">Usuário</label>
            <input type="text" name="username" class="form-control" id="inputUsuario"
                   autofocus required placeholder="Digite seu nome de usuário">
          </div>
          <div class="form-group">
            <label for="inputSenha">Senha</label>
            <input type="password" name="password" class="form-control" id="inputSenha"
                   placeholder="Digite sua senha" required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary" form="login_form">Logar</button>
      </div>
    </div>
  </div>
</body>

</html>