<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="static/index.css">
</head>

<body>
    {% for error in errors %}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div>
    {% endfor %}
        <form action="/login" method="post" id="login_form">
          <div class="form-group">
            <label for="inputUsuario">Usuário</label>
            <input type="text" name="usuario" class="form-control" id="inputUsuario"
                   autofocus required placeholder="Digite seu nome de usuário">
          </div>
          <div class="form-group">
            <label for="inputSenha">Senha</label>
            <input type="password" name="senha" class="form-control" id="inputSenha"
                   placeholder="Digite sua senha" required>
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
        </form>
</body>

</html>